In [ ]:
#  Clickhouse (via Tabix) was used to solve the tasks.

In [ ]:
# LESSON 1

In [ ]:
# Show the first 10 rows.
SELECT 
  * 
FROM 
  checks 
LIMIT 
  10

In [ ]:
# Show top-10 values in Rub column. Sort them in descending order.
SELECT 
  * 
FROM 
  checks 
ORDER BY 
  Rub DESC 
LIMIT 
  10;

In [ ]:
# Show the first 15 rows of the table renaming Rub to Revenue 
# and sort the result by UserID (ascending order).
SELECT 
  Rub AS Revenue, 
  BuyDate, 
  UserID 
FROM 
  checks 
ORDER BY 
  UserID ASC 
LIMIT 
  15

In [ ]:
# Show 10 unique UserID's. Sort the results by UserID in ascending order.
SELECT 
  DISTINCT UserID 
FROM 
  checks 
ORDER BY 
  UserID ASC 
LIMIT 
  10

In [ ]:
# Show the sales data: orders purchased on the 8th of March 2019.
# Sort the results by Rub in descending order. Limit the data to the first 10 rows.
SELECT 
  * 
FROM 
  checks 
WHERE 
  BuyDate IN ('2019-03-08') 
ORDER BY 
  Rub DESC 
LIMIT 
  10

In [ ]:
# Show unique UserID's for buyers made purchase on the 1st of September 2019
# and their expenditures were higer than 2000 rubles.
# Sort the resul by UserID in descending order.
SELECT 
  DISTINCT UserID 
FROM 
  checks 
WHERE 
  (
    BuyDate = '2019-09-01' 
    AND Rub > 2000
  ) 
ORDER BY 
  UserID DESC

In [ ]:
# LESSON 2

In [ ]:
# Count number of purchases per each client, name the column as NumChecks.
# Sort the result by NumChecks in descending order. Limit output to 10 rows.
SELECT 
  UserID, 
  COUNT(Rub) AS NumChecks 
FROM 
  checks 
GROUP BY 
  UserID 
ORDER BY 
  NumChecks DESC 
LIMIT 
  10

In [ ]:
# Count sum of purchases made by each client, name the column as Revenue.
# Sort the result by Revenue in descending order. Limit output to 10 rows.
SELECT 
  UserID, 
  COUNT(Rub) AS NumChecks, 
  SUM(Rub) AS Revenue 
FROM 
  checks 
GROUP BY 
  UserID 
ORDER BY 
  Revenue DESC 
LIMIT 
  10

In [ ]:
# Count by date min, max and average money spent.
# Use sort by BuyDate in descending order. Limit output ot 10 rows.
SELECT 
  BuyDate, 
  MIN(Rub) AS MinCheck, 
  MAX(Rub) AS MaxCheck, 
  AVG(Rub) AS AvgCheck 
FROM 
  checks 
GROUP BY 
  BuyDate 
ORDER BY 
  BuyDate DESC 
LIMIT 
  10

In [ ]:
# Find customers who has spent more than 10000 rubles.
# Sort the result by UserID in descending order. Limit output to 10 rows.
SELECT 
  UserID, 
  SUM(Rub) AS Revenue 
FROM 
  checks 
GROUP BY 
  UserID 
HAVING 
  Revenue > 10000 
ORDER BY 
  UserID DESC 
LIMIT 
  10

In [ ]:
# Count Revenue by country. Sort the result by Revenue in descenig order.
# Limit output to 10 rows.
SELECT 
  Country, 
  SUM(Quantity * UnitPrice) AS Revenue 
FROM 
  default.retail 
GROUP BY 
  Country 
ORDER BY 
  Revenue DESC 
LIMIT 
  10

In [ ]:
# Count average number of purchases and an average price of a unit.
# Group the result by country and sort it by an average price of a unit 
# in descending order. Do not include purchases having "Manual" in Description.
SELECT 
  Country, 
  AVG(UnitPrice), 
  AVG(Quantity) 
FROM 
  default.retail 
WHERE 
  Description != 'Manual' 
GROUP BY 
  Country 
ORDER BY 
  AVG(UnitPrice) DESC

In [ ]:
# Calculate Revenue by month. Sort the result by Revenue in descending order.
# Do not include purchases having "Manual" in Description.
SELECT 
  toStartOfMonth(InvoiceDate) AS month, 
  SUM(UnitPrice * Quantity) AS revenue 
FROM 
  default.retail 
WHERE 
  Description != 'Manual' 
GROUP BY 
  month 
ORDER BY 
  revenue DESC

In [ ]:
# Calculate an average price of a unit bought in march 2011.
# Group the results by CustomerID and sort it by an average price of a unit in
# descending order. Do not include purchases having "Manual" in Description.
# Limit output to 10 rows.
SELECT 
  CustomerID, 
  AVG(UnitPrice) AS avg_purch_in_march 
FROM 
  default.retail 
WHERE 
  Description != 'Manual' 
GROUP BY 
  CustomerID 
HAVING 
  toStartOfMonth(InvoiceDate) = '2011-03-01' 
ORDER BY 
  avg_purch_in_march DESC 
LIMIT 
  10

In [ ]:
# Group the data by month and country and calculate average, min, max quanitity of
# bought items. Sort the result by average quantity in descending order.
# Do not include purchases having "Manual" in Description and purchases having a
# negative quantity. Show the results for United Kingdom only.
SELECT 
  Country, 
  toStartOfMonth(InvoiceDate) AS month, 
  AVG(Quantity) AS avg_quantity, 
  MIN(Quantity) AS min_quantity, 
  MAX(Quantity) AS max_quantity 
FROM 
  default.retail 
WHERE 
  Description != 'Manual' 
  AND Quantity > 0 
GROUP BY 
  Country, 
  month 
HAVING 
  Country = 'United Kingdom' 
ORDER BY 
  avg_quantity DESC

In [ ]:
# LESSON 3

In [ ]:
tbc..